<div class="modal fade" id="modalCadastroFalha" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content p-3 rounded">
            <div class="modal-header border-0">
                <h5 class="modal-title col-10 offset-1 text-center">Falha!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <h6>Algo de errado não está certo. Ferrou. Tente novamente.</h6>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>