<div class="modal fade" id="modalApoiadores" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content p-3 rounded">
            <div class="modal-header border-0">
                <h5 class="modal-title col-10 offset-1 text-center">Apoiadores</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-center m-2">
                    <img src="~/imagens/empresa1.png" alt="EmpresadoCoracao" class="img-fluid w-50 h-50" />
                    <div class="flex-column ml-2 text-left">
                        <h6 class="empresa">Primeira Empresa</h6>
                        <p>Eiiitaaa Mainhaaa!! Esse Lorem ipsum é só na sacanageeem!!</p>
                    </div>
                </div>
                <div class="d-flex align-items-center m-2">
                    <img src="/imagens/empresa2.png" alt="LogoCoca" class="img-fluid w-50 h-50" />
                    <div class="flex-column ml-2 text-left">
                        <h6 class="empresa">Grande Empresa</h6>
                        <p>Só digo uma coisa, Domingo ela não vai! Danadaa!!</p>
                    </div>
                </div>
                <div class="d-flex align-items-center m-2">
                    <img src="/imagens/empresa3.jpg" alt="Apple" class="img-fluid w-50 h-50" />
                    <div class="flex-column ml-2 text-left">
                        <h6 class="empresa">Fabulosa Empresa</h6>
                        <p>Conheça meu lorem que é Tchan, Tchan, Tchannn!!</p>
                    </div>
                </div>
                <div class="d-flex align-items-center m-2">
                    <img src="/imagens/empresa4.jpg" alt="QuseSenac" class="img-fluid w-50 h-50" />
                    <div class="flex-column ml-2 text-left">
                        <h6 class="empresa">Quase um SENAC</h6>
                        <p>Mas que abundância meu irmãooo!!! Sabe de nada inocente!! </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>