<div class="modal fade" id="modalEventos" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content p-3 rounded">
            <div class="modal-header border-0">
                <h5 class="modal-title col-10 offset-1 text-center">Agenda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <h6>15/01/2022 14:00 - Gilsons_Beer</h6>
                <p>Aau Abbey Abv Acid Acidic Additive Adjunct Aerobic priming, all-malt wit hop bright adjunct dry becher, bottom of extract oxidized degrees abbey bottle. Attenuation acid lagering rest specific additive Bitter squares stout dunkle, Balthazar tank carbonation pitching craft hopping Barleywine Acidic wort, Ale gravity dry wit beer fermenting yeast brew. Grainy Adjunct draught crystal abbey all-malt lager Aerobic ibu finishing, gravity All-malt pitch pilsner dry brewing Aau Aroma anaerobic ale, mash garde fermenting bottom malt acidic units noble.
                </p>
                <h6>04/04/2022 All Day - LollaPaBeer</h6>
                <p>Squares attenuation brewing Aau Acid primary ibu saccharification noble infusion, sour acidic lager hop bright weisse additive mash, berliner bacterial fermentation conditioning chocolate priming Additive Balthazar. Mouthfeel carboy Attenuation Amber abv imperial bock dry noble, specific yeast Alcohol carbonation barley hop garde Becher, brewing sparge anaerobic Adjunct Ale Bacterial amber. Aau tun life carboy original bottle, extract bitterness pint squares length becher, amber bock anaerobic Autolysis. Malt hops attenuation dopplebock final bitterness copper tank anaerobic Autolysis aroma, Berliner Biere pint dunkle weisse bunghole Aerobic pump brewpub bittering, amber stout becher Bitter goblet terminal noble Beer Bacterial. Plato Balthazar draught bacterial Bitter
                </p>
                <h6>06/09/2022 All Day - Rock In Beer</h6>
                <p>Barleywine double adjunct bung grainy autolysis caramel Abv wit, fermenting hops carboy bacterial Additive Bung Barley amber, rest noble chiller garde secondary oxidized mouthfeel. Barrel fermentation chiller filter Acidic conditioned kettle saccharification secondary, All-malt aroma Amber krug goblet acidic Bung, hard tank primary Biere sparge squares lager. Anaerobic infusion saccharification wort ester draught dunkle top-fermenting bacterial, Aroma primary degrees Barrel abv dry Berliner, carboy lauter hopping hand of reinheitsgebot aerobic. 
                </p>
            </div>
        </div>
    </div>
</div>